.password-ui {
  position: relative;

  input {
    font-family: var(--font-fam-montserrat);
    font-weight: 400;
    font-size: 1.1rem;

    padding: 10px 5px;

    outline: unset;
    border:unset;

    color: #fff;

    background: #797C8C;
    border-radius: 12px;
  }
  input::placeholder {
    color: #fff;
  }

  img {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(-50%, -50%);

    width: 25px;

    cursor: pointer;
  }
}