.btn-comp {
  border-radius: 6px;

  background: var(--dark-blue-block-back);

  color: var(--white-font-color);

  cursor: pointer;
}

.btn_def_padding {
  padding: 14px 11px;
}
.btn_padding_side_30 {

}