.input-ui-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-ui {
  min-width: 438px;

  font-family: var(--font-fam-inter);
  font-weight: 400;
  font-size: 1.8rem;

  color: var(--dark-blue-font-color);

  border: unset;
  outline: unset;

  transition: font-size .3s;
}

.input-ui:focus {
  font-size: 1.6rem;
}

.input-ui__error {
  font-size: 1.2rem;
  font-family: var(--font-fam-inter);

  color: #b01111;

  transition: opacity .3s;
}

.input-ui_no_error {
  opacity: 0;
}

.input-ui_error_invoke {
  opacity: 1;
}