:root {
  --dark-blue-font-color: #192252;
  --white-font-color: #fff;
  --dark-blue-block-back: #101531;


  --font-fam-montserrat: 'Montserrat', sans-serif;
  --font-fam-inter: 'Inter', sans-serif;
}
