.form-btn-ui {
  font-family: var(--font-fam-montserrat);
  font-weight: 400;
  font-size: 1rem;

  color: #fff;

  border: unset;
  outline: unset;

  padding: 10px 20px;

  background: #797C8C;
  border-radius: 29px;

  cursor: pointer;
}